<html>
    <head>
        <title>Joules for Fools</title>
        <script src="bower_components/angular/angular.js"></script>
        <meta name=”viewport” content=”width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;” />
        <script src="/static/energy.js"></script>
        <link rel="stylesheet" href="bower_components/staggolee/Layout.css"/>
        <link rel="stylesheet" href="/static/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Lobster|Roboto+Slab|Open+Sans:300' rel='stylesheet' type='text/css'>
        <link rel="icon" type="image/png" href="/static/favicon.ico">

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-58126487-1', 'auto');
            ga('send', 'pageview');
        </script>
    </head>



    <body ng-app="Energy" ng-controller="EnergyCtrl">

        <div class="L-center">
            <h1 class="Title">Joules for Fools</h1>
            <div class="Card ComparisonBox">
                <div class="L-ib-container L-hbox-sep10">
                    <div class="SelectComparison">
                        <div class="SelectComparison-label">The Energy of</div>
                        <select ng-change="recalc()" ng-options="item.name for item in EnergyService.allEnergy" ng-model="selectedCompare">
                            <option value="">Choose</option>
                        </select>
                    </div>

                    <div>
                        <div style="padding-top:10px;">Is equal to</div>
                        <h1 class="ComparisonBox-ratio">{{ ratio }}</h1>
                    </div>

                    <div class="SelectComparison">
                        <div class="SelectComparison-label">The Energy of</div>
                        <select ng-change="recalc()" ng-options="item.name for item in EnergyService.allEnergy" ng-model="selectedComparee">
                            <option value="">Choose</option>
                        </select>
                    </div>
                </div>
                <div class="Card-section">
                    <button ng-click="loadRandom()">Random</button>
                    <button ng-click="switchPlaces()">Switch</button>
                </div>
            </div>
        </div>


    </body>
</html>