<html>
    <head>
        <title>EnergyDrink.com</title>
        <script src="bower_components/angular/angular.js"></script>
        <script src="/static/energy.js"></script>
        <link rel="stylesheet" href="bower_components/staggolee/Layout.css"/>
    </head>

    <body ng-app="Energy" ng-controller="EnergyCtrl">

        <div>
            <select ng-options="item.name for item in EnergyService.allEnergy" ng-model="selectedCompare">
                <option value="">Choose Energy Stores</option>
            </select>
            <select ng-options="item.name for item in EnergyService.allEnergy" ng-model="selectedComparee">
                <option value="">Choose Energy Expendatures</option>
            </select>
        </div>

        <div class="L-hbox L-hbox-sep10 L-hbox-vcenter">
            <h2>{{ selectedCompare.name }}</h2>
            <div>Compare to </div>
            <h2>{{ selectedComparee.name }}</h2>
        </div>
        <div>1 {{selectedCompare.name}} is {{ ratio }} {{ selectedComparee.name }}</div>

        <button ng-click="recalc()">Recalc</button>
    </body>
</html>